* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: effra, sans-serif;
  background-color: #f7f7f7;
  display: border-box;
  width: 100vw;
  -webkit-text-size-adjust: auto;
}

/*Home Page*/
/*Contenedor principal*/
.masterContainer {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
  grid-template-rows: 10em 40em 40em 40em 10rem max-content;
  grid-template-areas: "nav nav" "bienvenida bienvenida" "resaltador01 resaltador01" "resaltador02 resaltador02" "barraContacto barraContacto" "footer footer";
}

@media all and (max-width: 955px) {
  .masterContainer {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 955px) {
  .masterContainer .masterContainer {
    grid-template-areas: "nav" "bienvenida" "resaltador01" "resaltador02" "barraContacto" "footer";
  }
}

#NavbarB {
  grid-area: nav;
  background-color: #f7f7f7;
  margin: 0;
}

/* Mensaje de bienvenida */
.containerInterno01 {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: bienvenida;
}

@media all and (max-width: 955px) {
  .containerInterno01 {
    grid-template-columns: none;
  }
}

.videoBienvenida {
  max-width: 500px;
}

@media all and (max-width: 600px) {
  .videoBienvenida {
    width: 20rem;
    justify-self: center;
  }
}

.videoContenedor {
  justify-self: center;
}

/* Resaltador de la marca 01 */
.containerInterno02 {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: resaltador01;
}

@media all and (max-width: 955px) {
  .containerInterno02 {
    grid-template-columns: none;
  }
}

/* Resaltador de la marca 02 */
.containerInterno03 {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: resaltador02;
}

@media all and (max-width: 955px) {
  .containerInterno03 {
    grid-template-columns: none;
  }
}

/* Footer */
.barraContactoConteiner {
  display: grid;
  grid-area: barraContacto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(90deg, #e9dcb4 0%, #ecc042 48%, #eed078 100%);
  width: 100vw;
}

.barraContactoConteiner .logoBarraContactoContenedor {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-self: baseline;
  margin-right: 20px;
}

.barraContactoConteiner .logoBarraContactoContenedor .logoBarraContacto {
  width: 7rem;
}

.barraContactoConteiner .textoBarraContacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.barraContactoConteiner .cta02:link, .barraContactoConteiner .cta02:link:visited, .barraContactoConteiner .cta02:link:hover {
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  color: white !important;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 100;
}

.barraContactoConteiner .cta02:link:hover {
  color: #060606;
  background-color: #f7f7f7;
}

.footerContainer, .footerContainerContacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-area: footer;
  background-color: #060606;
  color: #f7f7f7;
}

.footerContainer .socialMediaEnlaces, .footerContainerContacto .socialMediaEnlaces {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  align-content: none;
  max-width: max-content;
  margin: 20px 0px 0px 0px;
}

.footerContainer .socialMediaEnlaces a.redsocial, .footerContainerContacto .socialMediaEnlaces a.redsocial {
  color: #f7f7f7 !important;
  text-decoration: underline;
  padding: 0px 40px;
  font-weight: 100;
}

.footerContainer .conclusion, .footerContainerContacto .conclusion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

@media all and (max-width: 600px) {
  .footerContainer .conclusion, .footerContainerContacto .conclusion {
    margin: 20px 40px;
  }
}

.footerContainer .conclusion .mexico, .footerContainerContacto .conclusion .mexico {
  color: #f7f7f7 !important;
  font-weight: 100;
  font-size: 16pt;
}

.footerContainer .conclusion .parrafo03, .footerContainerContacto .conclusion .parrafo03 {
  color: #f7f7f7 !important;
}

/* Pagina: Nuestro trabajo*/
.masterContainerNuestroTrabajo {
  display: grid;
  grid-template-columns: none;
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
  grid-template-rows: 7rem 35rem 60% 12rem 14rem;
  grid-template-areas: "nav" "titulosTrabajos" "listaVideos" "barraContacto" "footer";
  align-content: inherit;
}

@media all and (max-width: 955px) {
  .masterContainerNuestroTrabajo {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 955px) {
  .masterContainerNuestroTrabajo {
    grid-template-rows: 7rem 35rem 70% 15rem 14rem;
    grid-template-areas: "nav" "titulosTrabajos" "listaVideos" "barraContacto" "footer";
  }
}

.masterContainerNuestroTrabajo .containerInterno04 {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: titulosTrabajos;
}

@media all and (max-width: 955px) {
  .masterContainerNuestroTrabajo .containerInterno04 {
    grid-template-columns: none;
  }
}

.masterContainerNuestroTrabajo .portfolioContainer {
  width: 80%;
  margin: 80px auto;
  grid-area: listaVideos;
}

@media all and (max-width: 955px) {
  .masterContainerNuestroTrabajo .portfolioContainer {
    width: 100%;
  }
}

.masterContainerNuestroTrabajo .portfolioContainer .fila {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.masterContainerNuestroTrabajo .portfolioContainer .columna {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: none;
  flex-basis: 100em;
  min-width: 250px;
}

@media all and (max-width: 955px) {
  .masterContainerNuestroTrabajo .portfolioContainer .columna {
    align-items: center;
  }
}

.masterContainerNuestroTrabajo .portfolioContainer .content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px 0;
  border-radius: 15px;
  overflow: hidden;
  width: 30%;
  height: fit-content;
}

@media all and (max-width: 955px) {
  .masterContainerNuestroTrabajo .portfolioContainer .content-container {
    width: 45%;
  }
}

@media all and (max-width: 600px) {
  .masterContainerNuestroTrabajo .portfolioContainer .content-container {
    width: 75%;
  }
}

.masterContainerNuestroTrabajo .portfolioContainer .content-container .tituloVideos, .masterContainerNuestroTrabajo .portfolioContainer .content-container .subtituloVideos {
  font-weight: 400;
  font-size: 18pt;
  margin: 10px 10px;
  align-self: flex-start;
}

@media all and (max-width: 955px) {
  .masterContainerNuestroTrabajo .portfolioContainer .content-container .tituloVideos, .masterContainerNuestroTrabajo .portfolioContainer .content-container .subtituloVideos {
    align-self: center;
  }
}

.masterContainerNuestroTrabajo .portfolioContainer .content-container .subtituloVideos {
  font-weight: 100;
  font-size: 16pt;
}

.masterContainerNuestroTrabajo .portfolioContainer .small-img {
  position: relative;
  border-radius: 15px;
  width: 14rem;
}

.masterContainerNuestroTrabajo .portfolioContainer .imagenPreview {
  width: 300px;
}

.play-btn, .video-player, .video-player2, .video-player3, .video-player4, .video-player5, .video-player6 {
  width: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-player, .video-player2, .video-player3, .video-player4, .video-player5, .video-player6 {
  width: 60%;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 101;
}

@media all and (max-width: 955px) {
  .video-player, .video-player2, .video-player3, .video-player4, .video-player5, .video-player6 {
    width: 94%;
    position: fixed;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  cursor: pointer;
}

/* Pagina: Resultados*/
.masterContainerResultados {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
  grid-template-rows: 7rem 38rem 58rem 58rem 12rem max-content;
  grid-template-areas: "nav nav" "titulosResultados titulosResultados" "casoExito01 casoExito01" "casoExito02 casoExito02 " "barraContacto barraContacto" "footer footer";
}

@media all and (max-width: 955px) {
  .masterContainerResultados {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 955px) {
  .masterContainerResultados {
    grid-template-areas: "nav" "titulosResultados" "casoExito01" "casoExito02 " "barraContacto" "footer";
  }
}

.masterContainerResultados .containerInterno05 {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: titulosResultados;
}

@media all and (max-width: 955px) {
  .masterContainerResultados .containerInterno05 {
    grid-template-columns: none;
  }
}

.masterContainerResultados .casoDeExitoContenedor01 {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 20px;
  align-content: center;
  justify-content: center;
  grid-area: casoExito01;
}

@media all and (max-width: 955px) {
  .masterContainerResultados .casoDeExitoContenedor01 {
    grid-template-columns: none;
  }
}

.masterContainerResultados .casoDeExitoContenedor02 {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 20px;
  align-content: center;
  justify-content: center;
  grid-area: casoExito02;
}

@media all and (max-width: 955px) {
  .masterContainerResultados .casoDeExitoContenedor02 {
    grid-template-columns: none;
  }
}

.masterContainerResultados .textoCaso {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-content: center;
  align-items: center;
}

/* Pagina: Quienes somos*/
.masterContainerQuienesSomos {
  display: grid;
  grid-template-columns: 22rem max-content;
  grid-gap: 0px 0px;
  align-content: center;
  justify-content: center;
  grid-template-rows: 7rem 60rem 12rem max-content;
  grid-template-areas: "nav nav" "quienesSomos quienesSomos" "barraContacto barraContacto" "footer footer";
}

@media all and (max-width: 955px) {
  .masterContainerQuienesSomos {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 955px) {
  .masterContainerQuienesSomos {
    grid-template-rows: 7rem 80rem 15rem max-content;
  }
}

.masterContainerQuienesSomos .containerInterno06 {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: quienesSomos;
  align-self: flex-start;
  margin: 5rem 0;
}

@media all and (max-width: 955px) {
  .masterContainerQuienesSomos .containerInterno06 {
    grid-template-columns: 22rem;
  }
}

.masterContainerQuienesSomos .containerInterno06 #imagenTeam {
  width: 100%;
}

.masterContainerQuienesSomos .containerInterno06 #imagenTeam .fotoTeam {
  width: 100%;
  border-radius: 20px;
}

/* Pagina: Contacto*/
.masterContainerContacto {
  display: grid;
  grid-template-columns: max-content;
  grid-gap: 40px;
  align-content: center;
  justify-content: center;
  grid-template-rows: 7rem 90rem;
  grid-template-areas: "nav" "formulario";
}

@media all and (max-width: 955px) {
  .masterContainerContacto {
    grid-template-columns: 1fr;
  }
}

.masterContainerContacto .formularioContainer {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.masterContainerContacto .formularioContainer .TituloContactoContainer {
  background-color: #ecc742;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 2rem 0rem;
  padding: 5rem 5rem;
}

.masterContainerContacto .formularioContainer .TituloContactoContainer .tituloContacto {
  margin: 2rem 0rem;
}

.masterContainerContacto .formularioContainerInterno {
  background-color: #ebebeb;
  padding: 1rem 5rem;
  border-radius: 1rem;
  display: flex;
}

.masterContainerContacto .formularioContainerInterno .formulario {
  display: flex;
  flex-direction: column;
  margin: 5rem 0rem;
  width: 28rem;
}

@media all and (max-width: 955px) {
  .masterContainerContacto .formularioContainerInterno .formulario {
    width: 15rem;
  }
}

.masterContainerContacto .formularioContainerInterno .formulario #Item {
  width: 100%;
  margin: 0.5rem 0rem;
}

.masterContainerContacto .formularioContainerInterno .formulario #Item #labelStyle {
  font-weight: 400;
  font-size: 1rem;
}

.footerContainerContacto {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 15%;
}

.footerContainerContacto .ContainerFooterContacto {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

@media all and (max-width: 955px) {
  .footerContainerContacto .ContainerFooterContacto {
    width: 20rem;
  }
}

.footerContainerContacto .ContainerFooterContacto .tituloFooterContacto {
  font-weight: 700;
  font-size: 14pt;
  margin: 5px 0;
}

.footerContainerContacto .ContainerFooterContacto .parrafoFooterContacto {
  font-weight: 100;
}

@media all and (max-width: 955px) {
  .footerContainerContacto .ContainerFooterContacto .parrafoFooterContacto {
    font-size: 8pt;
    max-width: 20rem;
  }
}

/* Estilos generales*/
.titulo {
  font-weight: 400;
  font-size: 20pt;
  animation: up-to-down 0.8s ease-out;
  overflow-y: hidden;
}

@media all and (max-width: 955px) {
  .titulo {
    text-align: center;
    max-width: 22rem;
  }
}

@keyframes up-to-down {
  0% {
    transform: translateY(-30%);
    color: rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateY(0%);
    color: black;
  }
}

.textoBienvenida {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0px 15px 0px 60px;
  max-width: 30rem;
}

@media all and (max-width: 955px) {
  .textoBienvenida {
    margin: 0px 0px 0px 0px;
    max-width: 28rem;
    align-items: center;
  }
}

ul {
  display: inline-block;
  margin-left: 0px;
}

li {
  display: inline-block;
  padding: 1rem;
}

video {
  border-radius: 20px;
}

.parrafo {
  font-weight: 100;
  font-size: 1rem;
  max-width: 386px;
  overflow-y: hidden;
}

.illustracion {
  width: 28rem;
}

@media all and (max-width: 600px) {
  .illustracion {
    width: 22rem;
  }
}

.illustracionContenedor {
  align-self: center;
  justify-self: center;
}

a.cta:link, a.cta:link:visited, a.cta:link:hover {
  background-color: #060606;
  color: #f7f7f7;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  width: 12rem;
  font-weight: 100;
}

a.cta:hover:link {
  background-color: #4b4b4b;
}

a.redsocial {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

a.redsocial:visited {
  color: #676767;
}

a.redsocial:link {
  color: #060606;
}
