@import "variables";

.titulo {
  font-weight: map-get($fuentes, titulo);
  font-size: 24pt;
  max-width: 30rem;
  animation: up-to-down 0.8s ease-out;

  @keyframes up-to-down {
    0% {
      transform: translateY(-30%);
      color: rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateY(0%);
      color: rgba(0, 0, 0, 1);
    }
  }
}

.textoBienvenida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 15px 0px 60px;
}

ul {
  display: inline-block;
  margin-left: 0px;
}

li {
  display: inline-block;
  padding: 1rem;
}

a {
  font-size: 1rem;
  font-weight: map-get($fuentes, bold);
  text-decoration: none;
}

a:link {
  color: map-get($colores, terciario);
}

a:visited {
  color: #676767;
}

video {
  border-radius: 20px;
}

.parrafo {
  font-weight: map-get($fuentes, parrafo);
  font-size: 1rem;
  max-width: 386px;
}

.illustracion {
  width: 440px;
}

.illustracionResultados {
  width: 340px;
}

.illustracionContenedor {
  align-self: center;
  justify-self: center;
}

.cta:link {
  background-color: map-get($colores, terciario);
  color: map-get($colores, secundario);
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  width: 12rem;
  font-weight: map-get($fuentes, parrafo);
}

.cta:visited {
  @extend .cta:link;
}

.cta:hover {
  @extend .cta:link;
  background-color: #4b4b4b;
}
