@import "variables";

.containerInterno {
  display: grid;
  grid: {
    template-columns: inherit;
    gap: 30px;
  }
  align-content: center;
  justify-content: center;
}

.titulo {
  font-weight: map-get($fuentes, titulo);
  font-size: 24pt;
  max-width: 386px;
  animation: up-to-down 0.8s ease-out;

  @keyframes up-to-down {
    0% {
      transform: translateY(-30%);
      color: rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateY(0%);
      color: rgba(0, 0, 0, 1);
    }
  }
}

.textoBienvenida {
  @include containerTitulos;
}

ul {
  display: inline-block;
  margin-left: 0px;
}

li {
  display: inline-block;
  padding: 1rem;
}

a {
  font-size: 1rem;
  font-weight: $estiloBold;
  text-decoration: none;
}

a:link {
  color: $colorTerciario;
}

a:visited {
  color: #676767;
}

video {
  border-radius: 20px;
}

.parrafo {
  font-weight: $estiloParrafo;
  font-size: 12pt;
  max-width: 386px;
}

.illustracion {
  width: 440px;
}

.illustracionResultados {
  width: 340px;
}

.illustracionContenedor {
  align-self: center;
  justify-self: center;
}

.cta:link {
  background-color: $colorTerciario;
  color: $colorSecundario;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  width: 12rem;
  font-weight: $estiloParrafo;
}

.cta:visited {
  @extend .cta:link;
}

.cta:hover {
  @extend .cta:link;
  background-color: #4b4b4b;
}
