@import "variables";

.titulo {
  font-weight: map-get($fuentes, titulo);
  font-size: 24pt;
  animation: up-to-down 0.8s ease-out;
  overflow-y: hidden;

  @media all and (max-width: 955px) {
    text-align: center;
    max-width: 22rem;
  }

  @keyframes up-to-down {
    0% {
      transform: translateY(-30%);
      color: rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateY(0%);
      color: rgba(0, 0, 0, 1);
    }
  }
}

.textoBienvenida {
  @include flex(column, wrap, center, center);
  margin: 0px 15px 0px 60px;
  max-width: 30rem;

  @media all and (max-width: 955px) {
    margin: 0px 0px 0px 0px;
    max-width: 28rem;
    align-items: center;
  }
}

ul {
  display: inline-block;
  margin-left: 0px;
}

li {
  display: inline-block;
  padding: 1rem;
}

video {
  border-radius: 20px;
}

.parrafo {
  font-weight: map-get($fuentes, parrafo);
  font-size: 1rem;
  max-width: 386px;
  overflow-y: hidden;
}

.illustracion {
  width: 440px;
}

.illustracionResultados {
  width: 340px;
}

.illustracionContenedor {
  align-self: center;
  justify-self: center;
}

a.cta:link {
  background-color: map-get($colores, terciario);
  color: map-get($colores, secundario);
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  width: 12rem;
  font-weight: map-get($fuentes, parrafo);

  &:visited {
    @extend a.cta:link;
  }

  &:hover {
    @extend a.cta:link;
    background-color: #4b4b4b;
  }
}

a.redsocial {
  font-size: 1rem;
  font-weight: map-get($fuentes, bold);
  text-decoration: none;
  &:visited {
    color: #676767;
  }
  &:link {
    color: map-get($colores, terciario);
  }
}
