@media all and (max-width: 600px) {
  #siteid {
    padding: 0px 0px 0px 0px;
  }

  .logoSiete {
    width: 70px;
  }

  .videoBienvenida {
    width: 355px;
  }

  a {
    font-size: 12px;
  }

  .illustracion {
    width: 320px;
  }

  .footerContainer {
    justify-items: center;
  }

  .logoBarraContacto {
    width: 85px;
  }

  .textoBarraContacto {
    padding: 0px 0px 15px 0px;
  }

  .conclusion {
    display: flex;
    padding: 0px 0px 0px 0px;
    width: max-content;
    padding: 15px 0px 15px 0px;
  }

  .mexico {
    font-size: 14pt;
  }

  .titulo {
    text-align: center;
  }

  .portfolioContainer .content-container {
    width: 80%;
  }
}
