@media all and (max-width: 955px) {
  .masterContainer {
    display: grid;
    grid-template-rows: 155px 575px 575px 575px 8% 10%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "bienvenida"
      "resaltador01"
      "resaltador02"
      "barraContacto"
      "footer";
  }

  .masterContainerNuestroTrabajo {
    display: grid;
    grid-template-rows: 100px 500px max-content max-content max-content;
    grid-template-columns: max-content;
    grid-template-areas:
      "nav"
      "titulosTrabajos"
      "listaVideos"
      "barraContacto"
      "footer";
    grid-gap: 0px 40px;
    align-content: center;
    justify-content: center;
  }

  .masterContainerResultados {
    display: grid;
    grid-template-rows: 110px 515px max-content max-content 138px 140px;
    grid-template-columns: max-content;
    grid-template-areas:
      "nav"
      "titulosResultados"
      "casoExito01"
      "casoExito02 "
      "barraContacto"
      "footer";
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
  }

  .containerInterno06 {
    grid-template-columns: 25rem;
  }

  .casoDeExitoContenedor {
    grid-template-columns: max-content;
    justify-items: center;
  }

  .videoBienvenida {
    order: -1;
  }

  .topbarContainer {
    grid-template-columns: max-content 1fr;
  }

  #siteid {
    padding: 0px 0px 0px 0px;
  }

  .nav {
    margin-left: 0px;
  }

  .textoBienvenida {
    align-items: center;
    margin: 0px 0px 0px 0px;
  }

  p {
    text-align: center;
  }

  .listaDeVideos {
    grid-template-columns: max-content;
    margin: 80px 0px 88px 0px;
  }

  iframe {
    width: 680px;
  }

  .containerInterno {
    grid-template-columns: max-content;
  }

  .masterContainerQuienesSomos {
    grid-template-rows: 110px 140vh 150px max-content;
  }
}

@media all and (max-width: 600px) {
  .masterContainer {
    display: grid;
    grid-template-rows: 94px 575px 575px 575px 8% 185px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "bienvenida"
      "resaltador01"
      "resaltador02"
      "barraContacto"
      "footer";
  }

  .containerInterno06 {
    grid-template-columns: 25rem;
  }

  .topbarContainer {
    grid-template-columns: max-content 1fr;
  }

  #siteid {
    padding: 0px 0px 0px 0px;
  }

  .nav {
    margin-left: 0px;
  }

  .logoSiete {
    width: 70px;
  }

  .listNav {
    align-items: center;
  }

  .listNavItem {
    margin: 0px 15px 0px 15px;
  }

  .textoBienvenida {
    align-items: center;
    margin: 0px 0px 0px 0px;
  }

  .videoBienvenida {
    width: 355px;
  }

  .videoBienvenida01 {
    width: 355px;
  }

  p {
    text-align: center;
  }

  a {
    font-size: 12px;
  }

  .illustracion {
    width: 320px;
  }

  .footerContainer {
    justify-items: center;
  }

  .logoBarraContacto {
    width: 85px;
  }

  .textoBarraContacto {
    padding: 0px 0px 15px 0px;
  }

  .t02 {
    font-size: 16pt;
  }

  .conclusion {
    display: flex;
    padding: 0px 0px 0px 0px;
    width: max-content;
    padding: 15px 0px 15px 0px;
  }

  iframe {
    width: 400px;
  }

  .mexico {
    font-size: 14pt;
  }

  .parrafo03 {
    font-size: 10pt;
  }
}
