$fuentes: (
 parrafo: 100,
 titulo: 400,
 bold: 700,
)

$colores: (
 principal: #ecc742,
 secundario: #f7f7f7,
 terciario: #060606,
)

$fuenteBase: effra, sans-serif;
$estiloTitulo: 400;
$estiloParrafo: 100;
$estiloBold: 700;
$colorPrincipal: #ecc742;
$colorSecundario: #f7f7f7;
$colorTerciario: #060606;

@mixin containerTitulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 15px 0px 60px;
}

@mixin containerPrincipal {
  display: grid;
  grid: {
    template-columns: max-content max-content;
    gap: 0px 40px;
  }
  align-content: center;
  justify-content: center;
}

@mixin containerInterno {
  display: grid;
  grid: {
    template-columns: inherit;
    gap: 30px;
  }
  align-content: center;
  justify-content: center;
}
