@import "reset";
@import "variables";
@import "estilosGenerales";

/*Barra de navegación*/
.masterContainer {
  @include containerPrincipal(max-content max-content, 0px 40px);
  grid: {
    template-rows: 10em 40em 40em 40em 10% max-content;
    template-areas: "nav nav" "bienvenida bienvenida"
      "resaltador01 resaltador01" "resaltador02 resaltador02"
      "barraContacto barraContacto" "footer footer";
  }
}

#NavbarB {
  grid-area: nav;
  background-color: map-get($colores, "secundario");
  margin: 0;
}

/* Mensaje de bienvenida */

.containerInterno01 {
  @include containerPrincipal(inherit, 30px);
  grid-area: bienvenida;
  margin: 80px 0px 120px;
}

.videoBienvenida {
  width: 500px;
}

.videoContenedor {
  display: flex;
  height: max-content;
  align-self: center;
  justify-self: center;
}

/* Resaltador de la marca 01 */

.containerInterno02 {
  @include containerPrincipal(inherit, 30px);
  grid-area: resaltador01;
}

/* Resaltador de la marca 02 */

.containerInterno03 {
  @include containerPrincipal(inherit, 30px);
  grid-area: resaltador02;
}

.parrafo02 {
  margin-bottom: 20px;
}

/* Footer */

.barraContactoConteiner {
  display: grid;
  grid: {
    area: barraContacto;
    template-rows: 1fr;
    template-columns: 1fr 1fr;
  }
  background: rgb(233, 220, 180);
  background: linear-gradient(
    90deg,
    rgba(233, 220, 180, 1) 0%,
    rgba(236, 192, 66, 1) 48%,
    rgba(238, 208, 120, 1) 100%
  );
  width: 100vw;

  .logoBarraContactoContenedor {
    display: flex;
    align-self: baseline;
    margin-right: 20px;
    align-content: flex-start;
    justify-content: flex-end;
  }

  .logoBarraContacto {
    width: 120px;
  }

  .textoBarraContacto {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    align-content: baseline;
    justify-content: flex-start;

    .cta02:link {
      border: 1px solid map-get($colores, secundario);
      border-radius: 5px;
      color: map-get($colores, secundario);
      padding: 18px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-weight: 100;
    }

    .cta02:visited {
      @extend .cta02;
    }

    .cta02:hover {
      @extend .cta02;
      color: map-get($colores, terciario);
      background-color: map-get($colores, secundario);
    }
  }
}

.footerContainer {
  grid-area: footer;
  background-color: map-get($colores, terciario);
  color: map-get($colores, secundario);
  display: grid;
  width: 100%;
  justify-content: center;

  .socialMediaEnlaces {
    display: flex;
    flex-direction: row;
    max-width: max-content;
    margin: 20px 0px 0px 0px;

    a.redsocial {
      color: map-get($colores, secundario) !important;
      text-decoration: underline;
      padding: 0px 40px;
      font-weight: 100;
    }
  }

  .conclusion {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 40px;
    width: max-content;

    .mexico {
      color: map-get($colores, secundario) !important;
      font-weight: map-get($fuentes, parrafo);
      font-size: 16pt;
    }

    .parrafo03 {
      color: map-get($colores, secundario) !important;
    }
  }
}

/* Pagina: Nuestro trabajo*/

.masterContainerNuestroTrabajo {
  @include containerPrincipal(max-content max-content, 0px 40px);
  grid-template-rows: 22% 400px 60% 12% 12%;
  grid-template-areas:
    "nav nav"
    "titulosTrabajos titulosTrabajos"
    "listaVideos listaVideos"
    "barraContacto barraContacto"
    "footer footer";
}

.containerInterno04 {
  @include containerPrincipal(inherit, 30px);
  grid-area: titulosTrabajos;
}

.listaDeVideos {
  @include containerPrincipal(max-content max-content, 30px);
  grid-area: listaVideos;
  grid-gap: 20px;
}

/* Pagina: Nuestro trabajo II*/
.portfolioContainer {
  width: 80%;
  margin: 80px auto;
  grid-area: listaVideos;

  .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .columna {
    flex-basis: 90em;
    min-width: 250px;
    display: flex;
    justify-content: space-around;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    margin: 20px 0;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    width: 30%;
  }

  .small-img {
    position: relative;
  }

  .imagenPreview {
    width: 500px;
  }
}

.play-btn {
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-player {
  @extend .play-btn;
  width: 60%;
  cursor: auto;
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  cursor: pointer;
}

/* Pagina: Resultados*/
.masterContainerResultados {
  @include containerPrincipal(max-content max-content, 0px 40px);
  grid-template-rows: 110px 32rem 58rem 58rem 13rem max-content;
  grid-template-areas:
    "nav nav"
    "titulosResultados titulosResultados"
    "casoExito01 casoExito01"
    "casoExito02 casoExito02 "
    "barraContacto barraContacto"
    "footer footer";
}

.containerInterno05 {
  @include containerPrincipal(inherit, 30px);
  grid-area: titulosResultados;
}

.casoDeExitoContenedor01 {
  @include containerPrincipal(max-content max-content, 20px);
  grid-area: casoExito01;
}

.casoDeExitoContenedor02 {
  @include containerPrincipal(max-content max-content, 20px);
  grid-area: casoExito02;
}

.textoCaso {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/* Pagina: Quienes somos*/
.masterContainerQuienesSomos {
  @include containerPrincipal(22rem max-content, 0px 40px);
  grid-template-rows: 110px 100vh 13rem max-content;
  grid-template-areas:
    "nav nav"
    "quienesSomos quienesSomos"
    "barraContacto barraContacto"
    "footer footer";
}

.containerInterno06 {
  @include containerPrincipal(inherit, 30px);
  grid-area: quienesSomos;
}

.fotoTeam {
  width: 100%;
}

#imagenTeam {
  width: 100%;
}

/* Pagina: Contacto*/

.masterContainerContacto {
  @include containerPrincipal(max-content, 40px);
  grid-template-rows: 110px 100vh;
  grid-template-areas:
    "nav"
    "formulario";

  .formularioContainer {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .TituloContactoContainer {
    background-color: map-get($colores, principal);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    padding: 5rem 5rem;
  }

  .tituloContacto {
    margin: 2rem 0rem;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 5rem 0rem;
    width: 28rem;
  }

  .formularioContainerInterno {
    background-color: #ebebeb;
    padding: 1rem 5rem;
    border-radius: 1rem;
    display: flex;
  }
}

#Item {
  width: 100%;
  margin: 0.5rem 0rem;
}

#labelStyle {
  font-weight: map-get($fuentes, titulo);
  font-size: 1rem;
}

.footerContainerContacto {
  @extend .footerContainer;
  position: fixed;
  bottom: 0;
}

@import "mediaQueries";
